services:
  app:
    build: .
    restart: unless-stopped
    env_file:
      - .env

  tunnel:
    restart: unless-stopped
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run
    env_file:
      - .env
